* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --black: #000;
    --whitecolor: #fff;
    --onecolor: #1b1464;
    --twocolor: #ff9045;
    --main-font: 'Old Standard TT',serif;
    --sub-font: 'Montserrat', sans-serif;
    --bigfont: 2em;
    --mediumfont: 1.5em;
    --smallfont: 1em;
}
/* Header */
header {
    width: 100%;
    /* position: relative; */
    top: 0;
    height: 60px;
    background-color: transparent; 
}
#header-logo {
    width: 100%;
    margin-bottom: 20px;
    color: var(--onecolor);
}
#logo-img {
    height: 30px;
    margin: 0 15px;
}
#header-logo h1 {
    font-family: var(--main-font);
    font-size: var(--bigfont);
    float: left;
    color: var(--onecolor);
    margin-left: 15px;
}
#header-logo h1 span {
    color: var(--twocolor);
    margin-left: 2px;
}
/* Nav */
.nav-icon {
    display: block;
    cursor: pointer;
    float: right;
    margin-right: 30px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--onecolor);
    margin: 6px 0;
    transition: 0.4s;
}
.open .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}
.open .bar2 {
    opacity: 0;
}
.open .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}
.nav-bar {
    display: none;
}
/* Home */
#home {
    width: 100%;
    background-image: linear-gradient(to bottom, #c72c41, #801336, #510a32, #2d142c);
    text-align: center;
    color: #F1F1F1;
}
#home .container {
    padding: 60px 0;
}
.home-box {
    border: 1px solid white;
    margin: 0 60px;
}
.home-box h1 {
    font-family: var(--main-font);
    font-size: var(--bigfont);
    color: var(--whitecolor);
    text-transform: uppercase;
    padding: 20px;
}
.home-box h1:last-child {
    border-top: 1px solid white;
    font-family: var(--sub-font);
    font-size: var(--mediumfont);
    color: var(--whitecolor);
    padding: 20px;
    margin: 0 40px;
}
.submit {
    padding: 0 20px;
    margin-top: 40px;
    height: 60px;
    font-family: var(--main-font);
    font-size: var(--mediumfont);
    font-weight: 900;
    text-transform: uppercase;
    border: 2px #f1f1f1 solid;
    background: transparent;
    cursor: pointer;
    color: var(--whitecolor);
}
.submit:hover {
    color: var(--twocolor);
    border: 2px var(--twocolor) solid;
    transition: .3s ease-in-out;
}
/* Footer */
footer {
    height: 100%;
    width: 100%;
    background-color: var(--onecolor);
    color: var(--whitecolor);
    font-family: var(--sub-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;
}
.footer-inside p {
    margin: 5px;
    font-size: var(--smallfont);
}
.social .social-icon {
    color: var(--whitecolor);
    font-size: var(--bigfont);
    margin: 10px 10px 10px 10px;
}
.social .social-icon:hover {
    color: var(--twocolor);
    transition: .3s ease-in-out;
    /* opacity: 0.6; */
}

/* @media only screen and (max-width: 400px) {} */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .container {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 961px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #header-logo h1 {
        margin-top: 30px; 
    }
    .nav-icon {
        display: none;
    }
    .nav-bar {
        display: block;
        width: 100%;
        text-transform: uppercase;
    }
    .nav-bar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        cursor: pointer;
        font-family: var(--sub-font);
    }
    .nav-bar ul li {
        list-style: none;
        letter-spacing: 2px;
        font-size: var(--smallfont);
    }
    .nav-link {
      color: var(--onecolor);
      text-decoration: none;
    }

    .nav-link:hover {
        color: var(--twocolor);
        transition: .3s ease-in-out;

    }
    .container {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
    #home {
        /* height: 100vh; */
    }

}

